@import "tailwindcss/preflight";
@import "tailwindcss";
@import "tailwindcss/utilities";


@import "@fontsource-variable/roboto";
@import "@fontsource/poppins/600.css";



@utility font-body {
  font-family: "Roboto", sans-serif;
}

@utility font-heading {
  font-family: "Poppins", sans-serif;
}


:root {
  --color-primary: #B76E79;
  --text-main: #242424;
  --text-secondary: #6b6b6b;
  --bg-base: #ffffff;
  --bg-container: #ffffff;

  --bg-main: #ffffff;
  --bg-secondary: #f5f5f5;

  --accent: #1a8917;
  --border: #e0e0e0;

  --border-radius: 8px;
}


:root.dark {
  --color-primary: #A95060;
  --text-main: #e6e6e6;
  --text-secondary: #9d9d9d;
  --bg-base: #111111;
  --bg-container: #1a1a1a;

  --bg-main: #121212;
  --bg-secondary: #1e1e1e;

  --accent: #20b659;
  --border: #2c2c2c;

  --border-radius: 8px;
}


@utility bg-main {
  background-color: var(--bg-main);
}
@utility bg-sec {
  background-color: var(--bg-secondary);
}

@utility text-main {
  color: var(--text-main);
}
@utility text-sec {
  color: var(--text-secondary);
}

@utility border-main {
  border-color: var(--border);
}

@utility text-accent {
  color: var(--accent);
}
@utility bg-accent {
  background-color: var(--accent);
}

body{
  background-color: var(--bg-main);
}


body {
  background-color: var(--bg-main);
}


:focus {
  outline: none;
}

:focus-visible {
  outline-offset: 2px;
  outline: 2px solid rgba(59, 130, 246, 0.25);
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
  }
}